<mat-card class="header">
    <mat-card-content>Novatec</mat-card-content>
</mat-card>

<mat-card class="content">
    <form [formGroup]="form">

        <mat-grid-list cols="2" rowHeight="100px">
            <mat-grid-tile>
                <mat-form-field class="full-width">
                    <mat-label>Tipo Identificación</mat-label>
                    <mat-select formControlName="tipoIdentificacion">
                      <mat-option value="1">CC</mat-option>
                      <mat-option value="2">TI</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field class="full-width">
                    <input matInput type="text" formControlName="numeroIdentificacion" placeholder="No. Identificación*" >
                </mat-form-field>
            </mat-grid-tile>

        </mat-grid-list>

        <button class="btn btn-primary" type="button" (click)="searchDocument();">Buscar</button>        

        <mat-card class="content-items">
            <mat-grid-list cols="2" rowHeight="100px">
                <mat-grid-tile>
                    <mat-form-field class="full-width">
                        <input matInput type="text" formControlName="nombres" placeholder="Nombres*">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field class="full-width">
                        <input matInput type="text" formControlName="apellidos" placeholder="Apellidos*">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field class="full-width">
                        <mat-label>Rol</mat-label>
                        <mat-select formControlName="rolId">
                          <mat-option value="1">Estudiante</mat-option>
                          <mat-option value="2">Profesor</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
    
                <mat-grid-tile>
                    <mat-form-field class="full-width">
                        <input matInput type="text" formControlName="correo" placeholder="Correo*">
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card>
        
        <button id="btnCreate" mat-raised-button [disabled]="!form.valid" (click)="onSubmit()" >Crear</button>
        <button id="btnUpdate" mat-raised-button [disabled]="!form.valid" color="primary" (click)="onUpdate()">Actualizar</button>
        <button id="btnClean" mat-raised-button [disabled]="!form.valid" color="warn" (click)="onClean()">Limpiar</button>
        
        <br><br>
        
        <div class="row">
            <div class="col-sm-6">
                <mat-label><b>Lista Estudiantes</b></mat-label>
                <table class="table table-sm table-bordered table-light">
                    <thead>
                      <tr class="bg-primary">
                        <th scope="col">No. Id</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Correo</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let d of estudiantesList;">
                        <th scope="row"> {{d.numeroIdentificacion}} </th>
                        <td> {{d.nombres}} </td>
                        <td> {{d.apellidos}} </td>
                        <td> {{d.correo}} </td>
                      </tr>

                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <mat-label><b>Lista Profesores</b></mat-label>
                <table class="table table-sm table-bordered table-light">
                  <thead>
                    <tr class="bg-primary">
                      <th scope="col">No. Id</th>
                      <th scope="col">Nombres</th>
                      <th scope="col">Apellidos</th>
                      <th scope="col">Correo</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let e of profesoresList;">
                      <th scope="row"> {{e.numeroIdentificacion}} </th>
                      <td> {{e.nombres}} </td>
                      <td> {{e.apellidos}} </td>
                      <td> {{e.correo}} </td>
                    </tr>

                  </tbody>
              </table>
            </div>
        </div>
    </form>

</mat-card>