.header{
    background-color: #070028f7;
    color: #fff;
    text-align: center;
    margin-bottom: 2%;
}

.content{
    background-color: #ededed;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
}

.content-items{
    padding: 2% !important;
    margin-bottom: 2%;
}

.full-width {
    width: 90%;
}

button { 
    margin: 10px;
}

table {
    margin: 5px;
}

mat-card-content{
    font-family: 'Public Sans', sans-serif;
    font-weight: lighter;
    font-size: large;
}